html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2{
  font-family: Dosis, sans-serif;
  color: #512200;
  font-size: 1.5rem;
}

body {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  font-family: Georgia, serif;
  padding: 1rem;
}
